.About-Container{
  background-color: #e5e5e5;
}

.About-Content {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: #282c34;
}

.Timeline-Container{
  padding-top: 5em !important;
}
.vertical-timeline-element-content:hover
{
  background:#14213d !important;
  color: white;
}
.vertical-timeline-element-icon{
  display:flex;
  justify-content: center;
  align-items: center;
}
.vertical-timeline-element-date{
  color: black;
  font-weight:bolder !important;
}

.about-contact-me a{
  color:#fca311;
}
.timeline-resume{
  text-align: center;
}
.download-resume{
  text-decoration: none !important;
}
@media (max-width:1169px){
  .vertical-timeline-element-date{
    color: white;
  }
}