.Skills-Container {
    text-align: center;
    background-color: #f5f5f5;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;

}
  
.Skills-Content {
    width: 80%;
}
.content-title {
    font-size: 3rem;
    font-weight:bold;
    color:#161c2d;
}

@media (max-width: 600px){
    .content-title {
        margin-top: 1.5rem;
        margin-bottom: 1.5rem;
    }
  }
  @media (min-width: 600px){
    .content-title {
        margin-bottom: 7rem;
    }
  }
  @media (min-width: 768px){
    .content-title {
  
    }
  }
  @media (min-width: 992px){
    .content-title {
    
    }
  }
  @media (min-width: 1200px){
    .content-title {
      margin-bottom: 3rem;
    }
  }
.container {
    background-color: #282c34;
}

.skill-icon {
    padding-left: 5px;
    padding-right: 5px;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
}

.skill-card-container {
    margin-top: 15px;
    margin-bottom: 15px;
}

.skill-card{
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}
.skill-card:hover {
  box-shadow: 0px 15px 20px rgba(59, 59 , 59, 0.4);
  color: #fff;
  transform: translateY(-7px);
}
.skill-title {
  margin-bottom: 2rem;
  font-size: 1.5rem;
  font-weight: bold;
  letter-spacing: 1px;
  text-decoration: underline;
  background-image: linear-gradient(
    to right,
    #fca311,
    #fca311 50%,
    #000 50%
  );
  background-size: 200% 100%;
  background-position: -100%;
  display: inline-block;
  padding: 5px 0;
  position: relative;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.3s ease-in-out;
}
.skill-title:before {
  content: '';
  background: #fca311;
  display: block;
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 0;
  height: 3px;
  transition: all 0.3s ease-in-out;
}
.skill-title:hover,
.card-title:hover{
  background-position: 0;
}

.skill-title:hover::before,
.card-title:hover::before{
  width:100%;
}
.card-title{
  background-image: linear-gradient(
    to right,
    #fca311,
    #fca311 50%,
    #000 50%
  );
  background-size: 200% 100%;
  background-position: -100%;
  display: inline-block;
  position: relative;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.3s ease-in-out;
}
.card-title:before {
  content: '';
  background: #fca311;
  display: block;
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 0;
  height: 3px;
  transition: all 0.3s ease-in-out;
}

.icon-name {
  font-weight: bold;
  font-size: 1rem;
}
.skill-icon:hover {
  box-shadow: 0px 15px 20px rgba(59, 59 , 59, 0.4);
  color: #fff;
  transform: translateY(-7px);
}